*{
    background-color: black;
    margin: 0;
    padding: 0;
}

#canvas{
    background-color: rgb(255, 255, 255);
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 527.41px; /*was 88.89vh*/
    width: 658.89px; /*was 111vh*/
    z-index: 0;
}