*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

#app-div{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 7.705px;
    padding-bottom: 7.705px;
    height: 512px; /*was 88.89vh/527.41px*/
    width: 640px; /*was 111vh/658.89px*/
}


img{
    display: none;
}

#canvas{
    background-color: rgb(255, 255, 255);
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 512px; /*was 88.89vh*/
    width: 640px; /*was 111vh*/
    z-index: 0;
    image-rendering: pixelated;
}

#game-info{
    margin: 0;
    background-color: #f8f8f8;
    color: black;
    width: 640px;
    height: 64px;
}