*{
    background-color: black;
    margin: 0;
    padding: 0;
}

#canvas{
    background-color: #ffffff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    width: 111vh;
}